<div id="<%= dom_id anime %>">
  <p>
    <strong>Nome:</strong>
    <%= anime.nome %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= anime.ano %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= anime.episodios %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= anime.categoria %>
  </p>

   <p>
    <strong>Depoimento:</strong>
    <%= anime.depoimento.descricao %>
  </p>

  <p>
    <strong>Qualidade:</strong>
    <%= anime.qualidade.descricao %>
  </p>
  
</div>
